<h1>Produto - Novo</h1>

<form action ="/Produto/Novo" method="post">
    <label>Nome</label>
    <input type="text" name="nome" />

    <label>Descrição</label>
    <input type="text" name="descricao" />

    <input type="submit" value="Enviar" />
</form>
